from {{context}}.application.client.{{aggregate}}_actions import {{Aggregate}}ApplicationClient as {{Aggregate}}ApplicationClient
from {{context}}.application.client.{{aggregate}}_orchestrator import {{Aggregate}}OrchestratorApplicationClient as {{Aggregate}}OrchestratorApplicationClient
from {{context}}.application.client.{{aggregate}}_orchestrator import {{Aggregate}}Workflow as {{Aggregate}}Workflow
