from __future__ import annotations

import typing

import tesser.application as ts


class {{Aggregate}}(ts.Response):

    def __init__(self, {{#record_fields}}{{field}}: {{py_type}}{{comma}}{{/record_fields}}) -> None:
{{#record_fields}}
        self.{{field}} = {{field}}
{{/record_fields}}
{{#store_mints}}


class {{Issue}}Request(ts.Request):

    def __init__(self) -> None:
        return None


class {{Issue}}Response(ts.Response):

    def __init__(self, {{identity}}: str) -> None:
        self.{{identity}} = {{identity}}
{{/store_mints}}


class {{Save}}Request(ts.Request):

    def __init__(self, {{#record_fields}}{{field}}: {{py_type}}{{comma}}{{/record_fields}}) -> None:
{{#record_fields}}
        self.{{field}} = {{field}}
{{/record_fields}}


class {{Save}}Response(ts.Response):

    def __init__(self, {{identity}}: str) -> None:
        self.{{identity}} = {{identity}}


class {{Load}}Request(ts.Request):

    def __init__(self, {{identity}}: str) -> None:
        self.{{identity}} = {{identity}}


class {{Load}}Response(ts.Response):

    def __init__(self, {{context}}: tuple[{{Aggregate}}, ...]) -> None:
        self.{{context}} = {{context}}


class {{Aggregate}}Repository(ts.Port, typing.Protocol):
{{#store_mints}}

    async def {{issue}}(self, {{issue}}_request: {{Issue}}Request) -> {{Issue}}Response: ...
{{/store_mints}}

    async def {{save}}(self, {{save}}_request: {{Save}}Request) -> {{Save}}Response: ...

    async def {{load}}(self, {{load}}_request: {{Load}}Request) -> {{Load}}Response: ...


class {{Aggregate}}Store(ts.Store, typing.Protocol):

    def transaction(self) -> typing.AsyncContextManager[{{Aggregate}}Repository]: ...
