from {{context}}.adapters.repositories.postgres import Postgres{{Aggregate}}Store as Postgres{{Aggregate}}Store
from {{context}}.adapters.repositories.uuid_{{aggregate}}_identity_repository import Uuid{{Aggregate}}IdentityRepository as Uuid{{Aggregate}}IdentityRepository
