from {{context}}.adapters.runners.restate_ingress_{{conduct}}_relay import RestateIngress{{Conduct}}Relay as RestateIngress{{Conduct}}Relay
from {{context}}.adapters.runners.restate_invocation_{{record}}_relay import RestateInvocation{{Record}}Relay as RestateInvocation{{Record}}Relay
