from {{context}}.adapters.runners.restate_{{aggregate}}_workflow import Restate{{Aggregate}}Workflow as Restate{{Aggregate}}Workflow
from {{context}}.adapters.runners.restate_ingress_{{aggregate}}_orchestrator_relay import RestateIngress{{Aggregate}}OrchestratorRelay as RestateIngress{{Aggregate}}OrchestratorRelay
