from {{context}}.adapters.runners.restate_ingress_{{aggregate}}_orchestrator_relay import RestateIngress{{Aggregate}}OrchestratorRelay as RestateIngress{{Aggregate}}OrchestratorRelay
from {{context}}.adapters.runners.restate_invocation_{{aggregate}}_actions_relay import RestateInvocation{{Aggregate}}ActionsRelay as RestateInvocation{{Aggregate}}ActionsRelay
