from __future__ import annotations

import typing
import urllib.parse as urllib_parse

import tesser.adapters as ts
import httpx
import restate.client as restate_client

import {{context}}.application.relays as relays

_READ_TIMEOUT_SECONDS: typing.Final[float] = 30.0
_RUN_TIMEOUT: typing.Final[httpx.Timeout] = httpx.Timeout(5.0, read=_READ_TIMEOUT_SECONDS)


class RestateIngress{{Aggregate}}OrchestratorRelay(ts.Runner):

    def __init__(self, ingress: str) -> None:
        self._ingress = ingress

    async def run_{{conduct}}(self, {{conduct}}_request: relays.{{Conduct}}Request) -> relays.{{Conduct}}Response:
        async with httpx.AsyncClient(base_url=self._ingress, timeout=_RUN_TIMEOUT) as async_client:
            return relays.{{Conduct}}ResponseSnapshot().deserialize(
                await restate_client.Client(async_client).generic_call(
                    "{{Aggregate}}Orchestrator",
                    "{{conduct}}",
                    relays.{{Conduct}}RequestSnapshot().serialize({{conduct}}_request),
                    key=urllib_parse.quote({{conduct}}_request.{{identity}}, safe=""),
                    headers={"content-type": "application/json"},
                )
            )
