from __future__ import annotations

import os
{{#client_mints}}
import uuid
{{/client_mints}}

import tesser.testing as ts

import app
import {{context}}.client as {{context}}_client
import {{context}}.component as {{context}}_component


@ts.fake
class FakeConfigRepository(app.AppConfigRepository):

    def get(self) -> app.AppConfig:
        {{context}}_storage = os.environ["{{storage_env}}"]
        ingress = os.environ["{{ingress_env}}"]
        return app.AppConfig(
            app.Spec({{context}}_component.Config({{context}}_component.Spec({{context}}_storage, ingress)))
        )


class TestAppConfig:

    def test_a_config_carries_the_{{context}}_config(self) -> None:
        spec = app.Spec(
            {{context}}_component.Config({{context}}_component.Spec("postgres://a@b/{{context}}", "http://localhost:8080"))
        )

        app_config = app.AppConfig(spec)

        assert app_config.{{context}} is spec.{{context}}


class TestEnvConfigRepository:

    def test_the_environment_is_read_into_a_config(self) -> None:
        app_config = app.EnvConfigRepository().get()

        assert app_config.{{context}}.storage == os.environ["{{storage_env}}"]
        assert app_config.{{context}}.ingress == os.environ["{{ingress_env}}"]


class TestAppLoader:

    async def test_the_loader_builds_an_app_whose_client_answers_{{write}}(self) -> None:
        {{app}}_app = app.AppLoader(FakeConfigRepository()).load()
        await {{app}}_app.open()

        {{write}}_response = await {{app}}_app.{{context}}.client.{{write}}(
            {{context}}_client.{{Write}}Request({{#write_fields}}{{field}}={{fresh}}{{comma}}{{/write_fields}})
        )
        await {{app}}_app.close()

        assert {{write}}_response.{{identity}} != ""
