from {{context}}.application.relays.{{conduct}}_relay import {{Conduct}}Relay as {{Conduct}}Relay
from {{context}}.application.relays.{{conduct}}_relay import {{Conduct}}Request as {{Conduct}}Request
from {{context}}.application.relays.{{conduct}}_relay import {{Conduct}}RequestSnapshot as {{Conduct}}RequestSnapshot
from {{context}}.application.relays.{{conduct}}_relay import {{Conduct}}Response as {{Conduct}}Response
from {{context}}.application.relays.{{conduct}}_relay import {{Conduct}}ResponseSnapshot as {{Conduct}}ResponseSnapshot
from {{context}}.application.relays.{{record}}_relay import {{Record}}Relay as {{Record}}Relay
from {{context}}.application.relays.{{record}}_relay import {{Record}}Request as {{Record}}Request
from {{context}}.application.relays.{{record}}_relay import {{Record}}RequestSnapshot as {{Record}}RequestSnapshot
from {{context}}.application.relays.{{record}}_relay import {{Record}}Response as {{Record}}Response
from {{context}}.application.relays.{{record}}_relay import {{Record}}ResponseSnapshot as {{Record}}ResponseSnapshot
