from {{context}}.application.{{aggregate}}_actions import {{Aggregate}}Actions as {{Aggregate}}Actions
from {{context}}.application.{{aggregate}}_service import {{Aggregate}}Service as {{Aggregate}}Service
