from __future__ import annotations

import contextlib
import typing

import tesser.testing as ts

import {{context}}.application as application
import {{context}}.application.ports as ports
import {{context}}.application.relays as relays
import {{context}}.client as client


@ts.fake
class Fake{{Conduct}}Relay(relays.{{Conduct}}Relay):

    def __init__(self) -> None:
        self.conducted: list[relays.{{Conduct}}Request] = []

    async def run_{{conduct}}(self, {{conduct}}_request: relays.{{Conduct}}Request) -> relays.{{Conduct}}Response:
        self.conducted.append({{conduct}}_request)
        return relays.{{Conduct}}Response({{identity}}={{conduct}}_request.{{identity}})


@ts.fake
class Fake{{Aggregate}}Repository(ports.{{Aggregate}}Repository):

    def __init__(self, {{context}}: dict[str, ports.{{Aggregate}}]) -> None:
        self._{{context}} = {{context}}
{{#store_mints}}

    async def {{issue}}(self, {{issue}}_request: ports.{{Issue}}Request) -> ports.{{Issue}}Response:
        return ports.{{Issue}}Response({{identity}}={{identity_sample2}})
{{/store_mints}}

    async def {{save}}(self, {{save}}_request: ports.{{Save}}Request) -> ports.{{Save}}Response:
        self._{{context}}[{{save}}_request.{{identity}}] = ports.{{Aggregate}}(
{{#record_fields}}
            {{field}}={{save}}_request.{{field}},
{{/record_fields}}
        )
        return ports.{{Save}}Response({{identity}}={{save}}_request.{{identity}})

    async def {{load}}(self, {{load}}_request: ports.{{Load}}Request) -> ports.{{Load}}Response:
        return ports.{{Load}}Response({{context}}=(self._{{context}}[{{load}}_request.{{identity}}],))


@ts.fake
class Fake{{Aggregate}}Store(ports.{{Aggregate}}Store):

    def __init__(self) -> None:
        self.{{context}}: dict[str, ports.{{Aggregate}}] = {}

    @contextlib.asynccontextmanager
    async def transaction(self) -> typing.AsyncIterator[ports.{{Aggregate}}Repository]:
        yield Fake{{Aggregate}}Repository(self.{{context}})


class Test{{Aggregate}}Service:

    async def test_{{write}}_conducts_the_{{aggregate}}_it_built_from_the_request(self) -> None:
        fake_{{conduct}}_relay = Fake{{Conduct}}Relay()
        {{aggregate}}_service = application.{{Aggregate}}Service(fake_{{conduct}}_relay, Fake{{Aggregate}}Store())

        {{write}}_response = await {{aggregate}}_service.{{write}}(
            client.{{Write}}Request({{#write_fields}}{{field}}={{sample}}{{comma}}{{/write_fields}})
        )

        assert [
            ({{#record_fields}}conducted.{{field}}{{comma}}{{/record_fields}})
            for conducted in fake_{{conduct}}_relay.conducted
        ] == [({{#record_fields}}{{#is_identity}}{{write}}_response.{{identity}}{{/is_identity}}{{^is_identity}}{{sample}}{{/is_identity}}{{comma}}{{/record_fields}})]
{{#store_mints}}
        assert {{write}}_response.{{identity}} == {{identity_sample2}}
{{/store_mints}}
{{#client_mints}}
        assert {{write}}_response.{{identity}} == {{identity_sample}}
{{/client_mints}}

    async def test_a_saved_{{aggregate}}_is_read_back_by_its_{{identity}}(self) -> None:
        fake_{{aggregate}}_store = Fake{{Aggregate}}Store()
        fake_{{aggregate}}_store.{{context}}[{{identity_sample}}] = ports.{{Aggregate}}(
            {{#record_fields}}{{field}}={{sample}}{{comma}}{{/record_fields}}
        )
        {{aggregate}}_service = application.{{Aggregate}}Service(Fake{{Conduct}}Relay(), fake_{{aggregate}}_store)

        {{read}}_response = await {{aggregate}}_service.{{read}}(client.{{Read}}Request({{identity}}={{identity_sample}}))

{{#read_fields}}
        assert {{read}}_response.{{aggregate}}.{{field}} == {{sample}}
{{/read_fields}}
