from {{context}}.domain.{{aggregate}} import {{Aggregate}} as {{Aggregate}}
from {{context}}.domain.{{aggregate}} import {{Identity}} as {{Identity}}
from {{context}}.domain.{{aggregate}} import {{Aggregate}}Spec as {{Aggregate}}Spec
